/build
.env
/.dart_tool
/.idea/
/.vscode/
*.iml
*.log
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
coverage/
generated/
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
*.freezed.dart
*.g.dart
*.mocks.dart
*.config.dart
